html,body{
  padding: 0;
  margin: 0;
  height: 100%;
}
.common {
  width: 1120px;
  margin: 0 auto;
}

/* 清除浮动 */
.clear:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 0;
  overflow: hidden;
  clear: both;
}


