/* reset 是固定的 因此 直接拿别人写好就可以了 */
* {
    font-family: "Microsoft YaHei"
}
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
a{color: black;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 arial,\5b8b\4f53;color:#333;outline:0;}

.el-main {
    padding: 0;
}

.el-tabs__active-bar {
    height: 4px;
    border-radius: 5px;
}

.el-tabs__nav-wrap::after {
    background-color: #fff;
}


.el-tabs__active-bar  {
    background: #f36f20;
}

.el-tabs__item.is-active {
    color: #f36f20;
}

.el-tabs__item:hover {
    color: #000;
}

.el-tabs__header {
    margin: 0 0 40px;
  }
  